html, body {
    background-color:rgb(217, 217, 217);
    /* font-family:monospace */
}

header {
    background-color: rgb(24, 23, 23);
    padding: 15pt;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header_text {
    margin-right: 1.5%;
    text-decoration: none;
    font-size: 15pt;
    
}

.hero {
    text-align: center;
    text-decoration: none;
    color: black;
    
}
a:hover {
    color: brown;
}

.banner {
    margin-top: 3%;
}

.hero_image {
    width: 150px;
    position: absolute; 
    right: 2%; 
    top: 10%;
}

@media screen and (max-width: 900px) {
    .hero_image {
        width: 125px;
        position: unset;
        padding-top: 2%;
    }
    .select_episodes {
        padding-bottom: 5%;
    }
    .link_mobile {
        margin-top: 5%;
    }
    .banner {
        margin-bottom: 4%;
    }
    .episode_count {
        margin-top: 7%;
    }
    /* shrink player width for mobile, 
    default bleeds element off screen */
    .mejs_player {
        max-width: 300px;
        
    }
}

footer {
    background-color: rgb(24, 23, 23);
    padding: 15pt;
    margin-bottom: 2%;
    box-shadow: 0 50vh 0 50vh rgb(24, 23, 23);
}

.footer_links {
    float: right;
    text-decoration: none;
    font-size: 15pt;
}

.footer_text {
    float:left;
    text-decoration: none;
    color: antiquewhite;
}

.episode_count {
    padding-left: 1%;
}

.episodes {
    padding: 2%;
    display: flex;
    flex-flow:wrap;
    gap: 30pt;
    justify-content:center;
}

.episode {
    background: linear-gradient( rgb(121, 178, 225), rgb(190, 215, 235));
    /* border: solid; */
    /* border-color: rgba(145, 87, 87, 0.389); */
    box-shadow: 4px 4px 6px;
    padding: 20px;
    flex: 1 1 auto;    
}

.episode_download_link {
    padding-right: 1%;
    display: inline-block;
    vertical-align: middle;
    font-size: large;
}

.select_episodes {
    text-align: center;
    font-size: large;
}

.select_episode {
    margin: 10px;
    display: none;
}

.filter_buttons {
    margin-top: 1%;
    text-align: center;
}

.about {
    padding-left: 10pt;
    padding-right: 10pt;
}

hr {
    
    border-style: solid;
    border-width: 5pt;
    margin-right: 1%; 
  }

/* for the toggle buttons up top */
.to_fade1 {
opacity: 0;
transition: opacity 1s;
}
.to_fade2 {
opacity: 1;
}

.contact_form {
    padding-right: 25%;
    padding-left: 25%;
}

.up_arrow {
    display: none;
    font-size: 30pt;
    background-color: black;
    color: aliceblue;
    float: right;
    right: 2pt;
    bottom: 60pt;
    /* border-style:solid; */
    border-radius: 100%;
    border-style: none;
    padding-right: 10pt;
    padding-left: 10pt;
    border-color: black;
    /* font-weight: 300; */
    position: fixed;
}

.mejs-container {
   
}

.mejs_player {
    border-radius: 15pt;
    /* hides rectangle shadow outline */
    overflow: hidden;
    
}

.mejs_player button {
    /* color: white; */
}

.mejs_player button:hover {
   /* cursor: pointer; */
}
 


