html, body {
    background-color:rgb(217, 217, 217);
    /* background-color: blanchedalmond; */
}

header {
    text-align: left;
    background-color: rgb(24, 23, 23);
    padding: 15pt;
}

.header_text {
    margin-right: 1%;
    text-decoration: none;
    font-size: 15pt;
    
}
.header_text:hover {
    color:brown;
}

.hero {
    text-align: center;
    
}

.hero_image {
    width: 150px;
    position: absolute; 
    right: 1%; 
    top: 10%;
}

@media screen and (max-width: 900px) {
    .hero_image {
        width: 150px;
        position: unset;
        padding-top: 2%;
    }
}

footer {
    text-align: center;
    background-color: rgb(24, 23, 23);
    padding: 10pt;
    box-shadow: 0 50vh 0 50vh rgb(24, 23, 23);
}

.footer_text {
    text-decoration: none;
    font-size: 15pt;
}

.footer_text:hover {
    color:brown;
}

.episode_count {
    padding-left: 1%;
}

.episodes {
    padding: 1%;
    display: flex;
    flex-flow:wrap;
    gap: 15pt;
    justify-content:center;
}

.episode {
    background: linear-gradient( rgb(121, 178, 225), rgb(190, 215, 235));
    /* border: solid; */
    /* border-color: rgba(145, 87, 87, 0.389); */
    box-shadow: 4px 4px 6px;
    padding: 20px;
    flex: 1 1 auto;
    
}

.episode_download_link {
    padding-right: 1%;
    display: inline-block;
    vertical-align: middle;
    font-size: large;
}

.about {
    padding-left: 1%;
}

hr {
    
    border-style: solid;
    border-width: 5pt;
    margin-right: 1%; 
  }