{% extends 'main.html' %}

{% block title %}About | {% endblock %}

{% block content %}

<br>
<br>
<br>

<div class="about">

<h4 style="text-align: center;">
    <strong>This website is not in any way affiliated with Nashville Public Radio.</strong>
</h4>

<br>

<h4>CONTACT</h4>
<h5>
    If you have comments, questions, suggestions, complaints, feature requests, or just want to say hi, you can <a href="{{url_for('contact')}}">Contact Us</a>.
</h5>

<br>

<h4>MISC</h4>
<h5>
    This site uses libraries from the <a href="https://ffmpeg.org/">FFmpeg project</a> under the LGPLv2.1. 
        Basically the whole internet uses it. 
        You can <a href="https://www.ffmpeg.org/donations.html">give them money</a>.
</h5>

<h5>
    We did not create our favicon/logo: <a href="https://www.flaticon.com/free-icons/sound-waves" title="sound-waves icons">Sound-waves icons created by Freepik - Flaticon</a>
</h5>
</div>

<br>

{% endblock %}