{% extends 'main.html' %}

{% block title %}About | {% endblock %}

{% block content %}

<br>
<br>
<br>

<div class="about">

<h3 style="text-align: center;">
    <strong>This website is not in any way affiliated with Nashville Public Radio.</strong>
</h3>

<br>

<h4>
    We're working on improving the audio quality.
</h4>

<br>

<h4>
    If you have comments, questions, complaints, suggestions, feature requests, or just want to say hi, you can <a href="{{url_for('contact')}}">Contact Us</a>
</h4>

</div>

{% endblock %}