{% extends 'main.html' %}
{% block title %}Legal | {% endblock %}

{% block content %}

<h2 style="text-align: center;">LEGAL NONSENSE</h2>

  <h4>GOOGLE ANALYTICS</h4>

  <hr>

  <div>
  <p>
    We use Google Analytics, a web analytics service provided by Google LLC ("Google"), to collect information about how users interact with our website. Google Analytics uses cookies or similar tracking technologies to gather and analyze data regarding user behavior on our site. The information collected by Google Analytics is used to understand website traffic, improve user experience, and optimize our content and marketing strategies.
  </p>
  <p></p>
    The data collected by Google Analytics may include:

    <ul>

    <li>IP address and approximate geolocation</li>
    <li>Device information (e.g., browser type, operating system)</li>
    <li>Referring website or source</li>
    <li>Pages visited and time spent on each page</li>
    <li>Clicks, scroll behavior, and other interactions on our site</li>
    </ul>

    This information is anonymized and aggregated before being stored and analyzed by Google Analytics. We do not have access to personally identifiable information through Google Analytics.
  </p>
  <p>
    By using our website, you consent to the processing of data by Google Analytics in the manner and for the purposes described above. For more information on how Google handles the data collected through Google Analytics, please review Google's Privacy Policy.
  </p>
    If you prefer not to have your data collected by Google Analytics, you can opt out by installing the Google Analytics Opt-out Browser Add-on or adjusting your browser settings to reject cookies. Please note that opting out may impact your experience on our website.
  </p>

</div>

{% endblock %}