<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <a href="{{ url_for('main') }}" class="header_text">HOME</a>
    </header>

    <h1 class="title">
        WPLN Newscasts
    </h1>

    {% block content %}
    <br>

    <div class="episodes">

    <h3>
        <em>Showing 50 most recents newscasts</em>
    </h3>

    <br>

    {%for item in items[:50] %}
    <h2 style="margin-bottom: 0%;">
        Title: {{ item[0] }}
    </h2>

    <h3 style="margin-top: 0;">
        Pub Date: {{ item[1] }}
    </h3>

    <div>
        <audio controls src="{{ item[2] }}" class="episode_download_link">
            something
        </audio>
        <a href="{{ item[2] }}" class="episode_download_link">Download</a>
    </div>

    <br>
    <br>

    {% endfor %}

</div>

    {% endblock %}

<footer>
    <a href="{{ url_for('about') }}" class="footer_text">ABOUT</a>
</footer>

</body>


</html>