{% extends 'main.html' %}

{% block content %}

<div style="padding-left: 1%;">

    <br>
    <br>
    <br>

    <h3>
        If you would like to get these newscasts as a podcast,
        <a href="https://wplnnewscast.s3.us-east-2.amazonaws.com/rss/feed.xml">copy this link</a>
        and add it to your podcast player.
    </h3>
    <br>
    <h4>Please note: most but not all podcast players support
        <a href="https://medium.com/@joshmuccio/how-to-manually-add-a-rss-feed-to-your-podcast-app-on-desktop-ios-android-478d197a3770">
            adding your own URL</a>.
    </h4>

</div>

<br>




{% endblock %}