{% extends 'main.html' %}

{% block title %}Contact | {% endblock %}

{% block content %}

<div style="padding: 2%;" class="row justify-content-center">
<h2>CONTACT US</h2>
<br>

<div style="padding-bottom: 15pt;"></div>

<form class="contact_form needs-validation" id="contact_form" novalidate method=post enctype=multipart/form-data>
    <div class="form-group">
      <label for="email_address">Email Address</label>
      <input type="email" class="form-control" id="email_address" name="email_address" aria-describedby="emailHelp" placeholder="not required">
      <small id="emailHelp" class="form-text text-muted">only if you want to hear back from us</small>
      <div class="invalid-feedback">
        that doesn't look like an email address
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Message</label>
      <textarea class="form-control" id="email_message" name="email_message" placeholder="What's up?" required></textarea>
      <div class="invalid-feedback">
        what do you want to tell us?
      </div>
    </div>

    <!-- send something from the front end to prevent bots from spamming this endpoint -->
    <input type="hidden" value="notabot" id="notabot" name="notabot">
    
    <br>
    <button type="submit" class="btn btn-primary">Send</button>
    <div class="cf-turnstile" id="cf-turnstile" data-sitekey="0x4AAAAAAAwctC--83QNgwV6"></div>
  </form>

</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity() || !turnstile.getResponse()) {
          event.preventDefault()
          event.stopPropagation()
        }
       
        form.classList.add('was-validated')
     
      }, false)
    })
})()
</script>

<script>
// if using synchronous loading, will be called once the DOM is ready
turnstile.ready(function () {
  turnstile.render("#contact_form", {
    sitekey: "0x4AAAAAAAwctC--83QNgwV6",
    callback: function (token) {
      console.log(`Challenge Success ${token}`);
    },
  });
});
</script>

{% endblock %}