<!doctype html>

<html lang="en">

<!-- 
    
   __                _                            _      _____    _                                                                                           
  / _|              (_)                          | |    |_   _|  | |                                                                                          
 | |_ ___  __ _ _ __ _ _ __   __ _    _ __   ___ | |_     | |    | |__   ___  ___ ___  _ __ ___   ___    _ __ ___  _   _     ___ _ __   ___ _ __ ___  _   _   
 |  _/ _ \/ _` | '__| | '_ \ / _` |  | '_ \ / _ \| __|    | |    | '_ \ / _ \/ __/ _ \| '_ ` _ \ / _ \  | '_ ` _ \| | | |   / _ \ '_ \ / _ \ '_ ` _ \| | | |  
 | ||  __/ (_| | |  | | | | | (_| |  | | | | (_) | |_    _| |_   | |_) |  __/ (_| (_) | | | | | |  __/  | | | | | | |_| |  |  __/ | | |  __/ | | | | | |_| |  
 |_| \___|\__,_|_|  |_|_| |_|\__, |  |_| |_|\___/ \__|  |_____|  |_.__/ \___|\___\___/|_| |_| |_|\___|  |_| |_| |_|\__, |   \___|_| |_|\___|_| |_| |_|\__, |  
                              __/ |                                                                                 __/ |                              __/ |  
  _          _   _           |___/         _              _      _   _           _      _____                      |___/   _                          |___/   
 (_)        | | | |           (_)         | |            | |    | | | |         | |    |_   _|                            | |                                 
  _ _ __    | |_| |__   ___    _ _ __  ___| |_ __ _ _ __ | |_   | |_| |__   __ _| |_     | |     _ __  _ __ ___  __ _  ___| |__                               
 | | '_ \   | __| '_ \ / _ \  | | '_ \/ __| __/ _` | '_ \| __|  | __| '_ \ / _` | __|    | |    | '_ \| '__/ _ \/ _` |/ __| '_ \                              
 | | | | |  | |_| | | |  __/  | | | | \__ \ || (_| | | | | |_   | |_| | | | (_| | |_    _| |_   | |_) | | |  __/ (_| | (__| | | |                             
 |_|_| |_|   \__|_| |_|\___|  |_|_| |_|___/\__\__,_|_| |_|\__|   \__|_| |_|\__,_|\__|  |_____|  | .__/|_|  \___|\__,_|\___|_| |_|                             
                                                                                                | |                                                           
                                                                                                |_|                                                           

 -->

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VRD2RDME2Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VRD2RDME2Y');
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{url_for('static', filename='js/mediaelement-and-player.min.js')}}"></script>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}WPLN Newscasts</title>
    <meta name="description" content="Listen to past WPLN newscasts">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="{{ url_for('static', filename='css/mediaelementplayer.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
</head>

<body>

    <header>
        <a href="{{ url_for('main') }}" class="header_text">HOME</a>
        <a href="{{ url_for('podcast') }}" class="header_text">PODCAST</a>
        <button class="btn btn-danger btn-sm" style="float: right; display: none;" id="stop_button"
            onclick="stop_all(); hide_stop()">STOP</button>
    </header>

    <br>
    <br>

    <div class="hero">

        <h1>
            <a href="{{ url_for('main') }}" class="hero">WPLN Newscasts</a>
        </h1>

        <img src="{{url_for('static', filename='favicon.png')}}" class="hero_image"
            alt="nothing much, just a silly logo">

    </div>

    {% block content %}

    <button class="up_arrow" id="up_arrow" onclick="scroll_to_top()">&uarr;</button>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <br>

    {% if banner %}
    <div class="alert alert-success banner" role="alert" style="text-align: center; margin-left: 5%; margin-right: 5%;"
        id="banner">
        {{banner}}
    </div>
    {% endif %}

    <div class="to_fade1" id="to_fade">

        <div class="select_episodes" id="select_episodes">
            <div class="select_episode">
                <input type="checkbox" class="btn-check" id="Monday" name="day" autocomplete="off"
                    onclick="episodes_by_time('Monday');" />
                <label class="btn btn-primary" for="Monday">Monday</label>
            </div>
            <div class="select_episode">
                <input type="checkbox" class="btn-check" id="Tuesday" name="day" autocomplete="off"
                    onclick="episodes_by_time('Tuesday');" />
                <label class="btn btn-primary" for="Tuesday">Tuesday</label>
            </div>
            <div class="select_episode">
                <input type="checkbox" class="btn-check" id="Wednesday" name="day" autocomplete="off"
                    onclick="episodes_by_time('Wednesday');" />
                <label class="btn btn-primary" for="Wednesday">Wednesday</label>
            </div>
            <div class="select_episode">
                <input type="checkbox" class="btn-check" id="Thursday" name="day" autocomplete="off"
                    onclick="episodes_by_time('Thursday');" />
                <label class="btn btn-primary" for="Thursday">Thursday</label>
            </div>
            <div class="select_episode">
                <input type="checkbox" class="btn-check" id="Friday" name="day" autocomplete="off"
                    onclick="episodes_by_time('Friday');" />
                <label class="btn btn-primary" for="Friday">Friday</label>
            </div>

            <div class="filter_buttons">
                <button type="button" class="btn btn-primary btn-lg" id="filter_toggle"
                    onclick="toggleOnOff(); reveal_filter()">FILTER</button>
            </div>

        </div>

        <h3 class="episode_count" id="episode_count"></h3>
        <br>

        <div class="episodes">

            {% for item in items %}

            <div class="episode {{ item.get('time') }} {{ item.get('day') }}">
                <h3>
                    {{ item.get('title') }}
                </h3>

                <div>
                    <audio class="mejs_player episode_download_link" id="player" 
                        src="{{ item.get('enclosure') }}" onended="hide_stop()" onpause="check_if_playing()"
                        >
                        something
                    </audio>
                    <a href="{{ item.get('enclosure') }}" class="episode_download_link link_mobile"
                        download>Download</a>
                </div>
            </div>


            {% endfor %}

        </div>

    </div>

    <br>

    <!-- call when the page first loads -->
    <script>
        update_count()
        fade()
    </script>


    {% endblock %}

    <footer>
        <h5 class="footer_text">
            Please consider <a href="https://nashvillepublicradio.org/membership/"
                style="text-decoration: none;">supporting Nashville Public Radio</a>.
        </h5>
        <a href="{{ url_for('about') }}" class="footer_links">ABOUT</a>
    </footer>
   
</body>


</html>