{% extends 'main.html' %}

{% block title %}Podcast | {% endblock %}

{% block content %}

<div style="padding-left: 1%;">

    <br>
    <br>
    <br>

    <h4>
        If you would like to get these newscasts as a podcast,
        <a href="{{ url_for('podcastrss') }}">copy this link</a>
        and add it to your podcast player.
    </h4>
    <br>
    <h5>Please note: most but not all podcast players support
        <a href="https://medium.com/@joshmuccio/how-to-manually-add-a-rss-feed-to-your-podcast-app-on-desktop-ios-android-478d197a3770">
            adding your own URL</a>.
    </h5>

</div>

<h2>TEST can you hear me now?</h2>

<br>




{% endblock %}